@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin grid($columns, $gap, $justify) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($columns, 1fr));
      gap: $gap;
      justify-items: $justify;
  }