@use "../tools/mixins" as mixin;
@use "../base/variables" as variable;

.Home {
    
    height: 100vh;
    
    &-main{
        @include mixin.flex(space-around);
        height: 70%;
        padding: 1.25rem;
        overflow-y: auto; /* Agregar esta línea */
    
    }

    &-info {
        height: 100%;
        width: 50%;
        @include mixin.flex(center, flex-start, column);
        gap: 2.5rem;
        padding: 2.1875rem;
        &--h1{
            @include mixin.flex(center, flex-start, column);
            font-size: 3.4375rem;
            gap: 2.8125rem;
            width: 100%;
            color: map-get(variable.$colors, "black" );
            font-family: map-get(variable.$fonts, "title" );
        }
        &--span{
          
            
            @keyframes typing {
              from { width: 0; }
              to { width: 100%; }
            }
            color: map-get(variable.$colors, "bold" );
            font-family: map-get(variable.$fonts, "text" );
            padding-top: .5em;
            padding-bottom: .5em;
            overflow: hidden; /* Para ocultar el texto que aún no se ha escrito */
            border-right: .1em solid var(--second-color); /* Simula el cursor de escritura */
            white-space: nowrap; /* Evita que el texto se rompa */
            animation: typing 3s steps(20, end); /* Controla la velocidad de escritura */
        }
    }
    
    @keyframes moveImage {
        0% {
          transform: translateX(10px);
        }
        50% {
          transform: translateX(30px); /* Mover la imagen 50px hacia la derecha */
        }
        100% {
          transform: translateX(0);
        }
      }
      
      .Home-photo {
        width: 400px;
        height: 400px;
        animation: moveImage 5s infinite; /* Aplicar la animación durante 5 segundos y repetirla infinitamente */
      }
      
    &-footer{
        height: 30%;
        @include mixin.flex;
        font-size: 60px;
        color: map-get(variable.$colors, "black" );
        font-family: map-get(variable.$fonts, "subtitle" );
    }
}