@use "../tools/mixins" as mixin;
@use "../base/variables" as variable;

.Button {
    background-color: map-get(variable.$colors, "secondary" );
    padding: .9375rem 3.4375rem .9375rem 3.4375rem;
    border-radius: 1.5rem;
    font-family: map-get(variable.$fonts, "subtitle" );
    font-size: 1.25rem;
    color: #e3e5e5 ;
}

.Button:hover{
    cursor: pointer;
}